.bg {
	background: linear-gradient(to bottom, transparent 90%, #052233 100%);
	@apply relative;

	@supports (mix-blend-mode: color-dodge) {
		&::before {
			content: "";
			@apply absolute inset-0;
			mix-blend-mode: color-dodge;
			background-repeat: repeat;
			background-position: right top;
			background-image: image-set(url("/stars.png") 1x);
			@supports (background-image: image-set(url("/stars.webp") 1x)) {
				background-image: image-set(url("/stars.webp") 1x);
			}
		}
	}
}
