.card {
	@apply text-white bg-gray-800 rounded-md relative;
	@screen sm {
		@apply max-w-screen-sm;
	}
	max-width: 90vw;

	@supports (
		(-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))
	) {
		background-color: rgba(255, 255, 255, 0.07);
		backdrop-filter: blur(3px);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	& > span {
		width: calc((128px / 2));
	}
}

.container2 {
	@apply relative p-3 grid gap-4 items-center;
	@screen sm {
		@apply p-8;
	}
	@screen lg {
		@apply p-12;
	}
	@apply justify-items-center;
	grid-template-columns: auto 1fr;
}

.container {
	min-width: 190vw;
	@screen sm {
		min-width: 150vw;
	}
	@screen md {
		min-width: 130vw;
	}
	@screen xl {
		min-width: revert;
	}
}

.scrollSnap {
	scroll-snap-type: x mandatory;
	// scroll-snap-points-x: repeat(300px);
}

.section {
	@apply p-3 mt-8 relative;
}

.button {
	@apply z-20 p-3 text-2xl font-bold rounded-md focus:outline-none;
}

.button1 {
	@screen xl {
		@apply text-gray-900 bg-yellow-200 ring-0 cursor-default;
	}
}
.button2 {
	@screen xl {
		@apply text-gray-900 bg-blue-200 ring-0 cursor-default;
	}
}

.overflow {
	overflow-x: auto;
}

.timelineBG {
	@apply absolute h-full hidden;
	@screen sm {
		@apply block;
	}
	left: calc(50% - (128px / 2));
	width: 128px;
}

.timeline {
	@apply absolute h-full border-r-2 border-dashed border-blue-900 hidden;
	@screen sm {
		@apply block;
	}
	left: calc(50% - 1px);
}

.time {
	@apply absolute hidden;
	left: calc(50% - 8px);
	&::before {
		@apply rounded-full bg-yellow-500;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
	}
	// @screen sm {
	// 	@apply block;
	// }
}

.video {
	@apply w-full;
	@screen sm {
		@apply max-w-screen-sm;
	}
}
