.container {
	@screen sm {
		min-width: 150vw;
	}
	@screen md {
		min-width: 130vw;
	}
	@screen xl {
		min-width: revert;
	}
	min-width: 190vw;
}

.section {
	@apply p-3 mt-8 relative;
}

.button {
	@apply z-20 p-3 hover:text-green text-2xl font-bold hover:bg-blue rounded-md focus:outline-none;
}

.button1 {
	@screen xl {
		@apply text-blue bg-teal hover:text-blue hover:bg-teal ring-0 cursor-default;
	}
}
.button2 {
	@screen xl {
		@apply text-blue bg-green hover:text-blue hover:bg-green ring-0 cursor-default;
	}
}

.overflow {
	overflow-x: auto;
}

.timelineBG {
	@apply absolute h-full hidden;
	@screen sm {
		@apply block;
	}
	left: calc(50% - (128px / 2));
	width: 128px;
}

.timeline {
	@apply absolute h-full border-r-2 border-dashed border-blue-dark hidden;
	@screen sm {
		@apply block;
	}
	left: calc(50% - 1px);
}

.time {
	@apply absolute hidden;
	left: calc(50% - 8px);
	&::before {
		@apply rounded-full bg-yellow;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
	}
	// @screen sm {
	// 	@apply block;
	// }
}

.video {
	@apply w-full;
	@screen sm {
		@apply max-w-screen-sm;
	}
}
