.title {
	grid-template-columns: auto auto;
}

.date {
	grid-template-columns: auto max-content auto;
}

.heroContainer {
	pointer-events: none;
	& * {
		pointer-events: auto;
	}
	mix-blend-mode: normal;
}

.bg {
	//@apply bg-primary-200;
	@apply sticky top-0;

	// background: linear-gradient(to bottom, transparent, #d0eaeb);

	/// Disable stars
	/*
	& > span {
		@apply absolute inset-0;
		@apply w-full h-full overflow-hidden;
		@supports (mix-blend-mode: color-dodge) {
			& {
				content: "";
				@apply absolute inset-0;
				mix-blend-mode: color-dodge;
				background-repeat: repeat;
				background-position: right top;
				background-image: linear-gradient(
						to bottom,
						rgba(9, 22, 95, 0.212),
						black 20%
					),
					image-set(url("/assets/images/stars.png") 1x);
				@supports (
					background-image: image-set(url("/assets/images/stars.webp") 1x)
				) {
					background-image: linear-gradient(
							to bottom,
							rgba(9, 22, 95, 0.212),
							black 20%
						),
						image-set(url("/assets/images/stars.webp") 1x);
				}
			}

			&::before {
				content: "";
				@apply absolute inset-0;
				mix-blend-mode: multiply;
				width: 100vw;
				height: 100vh;
				background-image: linear-gradient(
					90deg,
					rgba(255, 255, 255, 1) 0%,
					rgba(0, 0, 0, 1) 10%,
					rgba(0, 0, 0, 1) 20%,
					rgba(255, 255, 255, 1) 30%,
					rgba(0, 0, 0, 1) 40%,
					rgba(0, 0, 0, 1) 50%,
					rgba(0, 0, 0, 1) 60%,
					rgba(255, 255, 255, 1) 70%,
					rgba(0, 0, 0, 1) 80%,
					rgba(0, 0, 0, 1) 90%,
					rgba(255, 255, 255, 1) 100%
				);
				background-position: right top;
				animation: marquee 47s ease-in-out infinite;
				animation-delay: -7s;
				@keyframes marquee {
					0% {
						background-position: 0 0;
					}
					100% {
						background-position: 100vw 0;
					}
				}
			}
		}
	}
	*/
}
